@uiAppMainMenuMaxWidth: 250px;
@uiAppMainMenuTitleHeight: 60px;

.ldt___ui-app {
  position: absolute;
  left: 0; top: 0;
  bottom: 0; right: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  .ldt___ui-app__title {
    border-bottom: 1px solid #ccc;
    height: @uiAppMainMenuTitleHeight;
    flex-shrink: 0;
  }

  .ldt___ui-app__window {
    display: flex;
    flex: 1;
    overflow: hidden;

    .ldt___ui-app__window__main-menu {
      width: 100%;
      max-width: @uiAppMainMenuMaxWidth;
      border-right: 1px solid #ccc;
      overflow: hidden;
      padding: 15px;
    }

    .ldt___ui-app__window__contents {
      flex: 1;
      overflow: auto;
    }
  }
}